<footer class="bg-light mt-3 border-top p-3">
    <div class="container-xxl">
        <h3>Що таке неправильні дієслова?</h3>
        <p><span class="fw-bold text-success">Неправильні дієслова англійської мови</span> (<span class="fst-italic text-warning">Irregular Verbs</span>) - це ті дієслова, які утворюють форми Past Simple і Past Participle (II і III форми дієслів) не за загальними правилами за допомогою додавання суфікса <span class="fst-italic">-ed</span>, а іншими способами.</p>
        <p>В англійській мові всі дієслова поділяються на правильні та неправильні. <span class="fw-bold text-success">Правильні дієслова</span> утворюються за допомогою додавання <span class="fst-italic">-ed</span> до початкової форми.</p>
        <p><span class="fw-bold text-success">Англійські неправильні дієслова</span> змінюються зовсім інакше - тут ніякого правила немає, їх просто потрібно запам'ятати.</p>
        <p class="text-center"><span class="fw-bold text-danger">3forms</span> завжди під рукою і готовий допомогти з неправильними дієсловами англійської мови 24/7!</p>
        <p class="text-center">Made by <a href="https://www.instagram.com/denys.lv/" target="_blank">denys.lv</a></p>
    </div>
</footer>
