<table class="d-block table table-striped container-xxl" style="overflow: scroll; overflow: auto;">
    <thead>
    <tr>
        <th scope="col">Infinitive (V1)</th>
        <th scope="col">Past Simple (V2)</th>
        <th scope="col">Past Participle (V3)</th>
        <th scope="col">Переклад</th>
    </tr>
    </thead>
    <tbody>
    {{{table}}}
    </tbody>
</table>
